##id
{{id}}

##code
{{code}}

##flow
{{flow}}

##requirements
{{requirements}}

##デバイス/クラウド
{{key1}}

##repository/コンポーネント
{{key2}}

##japanese
{{japanese}}

##description
{{description}}

##clientside
{{clientside}}

##serversidetoolsandlanguage
{{serversidetoolsandlanguage}}

##phase
{{phase}}

##technicalComplexity
{{technicalComplexity}}

##estimation(CommonDevelopmentBudgetRate)
{{key3}}

##iosNativePhase
{{iosNativePhase}}

##smartphonesWeb
{{smartphonesWeb}}

##androidNative
{{androidNative}}

##pc
{{pc}}

##pad
{{pad}}

##verb
{{verb}}

##system/operational
{{system/operational}}

##wireflamingAsMainscreen
{{wireflamingAsMainscreen}}